<!-- projects/templates/projects/project_index.html -->

{% extends "base.html" %}

{% block page_content %}
{% if user.is_authenticated %}
    <h2>Hello, {{ user.username|default:'Guest' }}!</h2>
    <h2>Welcome to the Movie review App</h2>
    {% else %}
    <h2>Hello, {{ user.username|default:'Guest' }}!</h2>
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
<h1>Movies List</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            {% if project.image %}
                <img class="card-img-top" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div><form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
     <button type="submit" class="btn btn-danger">Log Out</button>
     <a href="{% url 'password_change' %}">Change password</a>
</form>
</div>
{% endblock page_content%}